.all-songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -15px;
}

.carousel-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.SongCard {
  max-height: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
}

.fixed-carousel {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 200px;
  margin-top: 30px;
}

.banner-container {
  max-height: 40vh;
  width: 100vw;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
