.all-songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 200px;
    margin-top: 50px;
}

.all-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -15px;
  }
