/* TODO Add site wide styles */
/* :root {
    background: linear-gradient(90deg,
            rgb(234, 155, 44) 0%,
            rgb(205, 50, 248) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
} */

body {
    background: linear-gradient(90deg,
            rgb(234, 155, 44) 0%,
            rgb(205, 50, 248) 100%);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding: 20px;
    color: black
}

button {
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    background: #7e4fcf;
    color: white;
    width: 120px;
    height: 20;
}

:active {
    /* color: red */
}

nav {
    display: flex;
    justify-content: space-around;
    height: 20px;
    width: auto;
    background-color: #52eca7;
    border: 2px solid black;
    border-radius: 10px;
}
