.preview-img {
    width: 500px;
    height: 500px;
    padding: 20;
    border-radius: 3%;
    border: 2px solid black;
}

.showcase-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    color: black
}

/* .create-comment-button {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: #5003d6;
    color: white;
    width: 140px;
    height: 40;
} */
