.modal-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-container label {
    display: grid;
    margin-bottom: 10px;
}

.modal-container input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.modal-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-container button:hover {
    background-color: #0056b3;
}


.demo-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.demo-button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.demo-button-container button:hover {
    background-color: #0056b3;
}
